body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    background-color: black;
    color: white;
    font-family: "Press Start 2P", system-ui;
    font-size: 10px;
}

#header {
    margin: 0px 0px 0px 30px;
    width: 95%;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    font-size: 1vmin;
}

#remaining-time img {
    width: 2vmin;
    height: 2vmin;
}

#game-lives img {
    width: 5vmin;
    height: 5vmin;
}

hr {
    width: 95%;
    height: 20;
    margin-bottom: 20px;
}

#invaders-grid {
    z-index: 1;
}

.bullet {
    position: absolute;
    z-index: 1;
}

#menu {
    text-align: center;
    color: white;
    background-color: black;
    text-transform: uppercase;
    padding-top: 4vmin;
    width: 100%;

}

#menu h1 {
    font-size: 7vmin;
    margin: 0 0 1vmin 0;
    letter-spacing: 0.5rem;
    line-height: 1.2;
    /* text-shadow: 0 0 1vmin white(0, 255, 0, 0.5); */
}

.controls {
    color: gray;
    margin: 2vmin ;
    font-size: 2vmin;
    line-height: 3;
}

.controls div {
    margin: 0 auto;
}

.controls div .square {
    padding: 1vmin 2vmin;
    border: solid gray;
    border-radius: 3vmin;
}

#start-message {
    margin-top: 7vmin;
    font-size: 3vmin;
    animation: blink 1s infinite;
}