body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    background-color: black;
    color: white;
    font-family: "Press Start 2P", system-ui;
    font-size: 1.5vmin;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 9999;
    height: 5vmin;
    font-size: 1vmin;
    background-color: black;
    border-bottom: 2px solid white;
    margin: 0 25px;
}

#remaining-time img {
    width: 2.5vmin;
    height: 2.5vmin;
}

#game-lives{
    width: 12vmin;
}

#game-lives img {
    width: 4vmin;
    height: 4vmin;
}

hr {
    width: 95%;
    background-color: black;
}

#invaders-grid {
    z-index: 1;
}

.bullet {
    position: absolute;
    width: 3vmin;
    height: 3vmin;
    z-index: -9999;
}

#menu {
    text-align: center;
    color: white;
    background-color: black;
    text-transform: uppercase;
    padding-top: 4vmin;
    width: 100%;
}

#menu h1 {
    font-size: 7vmin;
    margin: 0 0 1vmin 0;
    letter-spacing: 0.5rem;
    line-height: 1.2;
    text-shadow: 0 0 1vmin rgba(0, 255, 0, 0.5);
}

.controls {
    color: gray;
    margin: 2vmin;
    font-size: 2vmin;
    line-height: 3;
}

.controls div {
    margin: 0 auto;
}

.controls div .square {
    padding: 1vmin 2vmin;
    border: solid gray;
    border-radius: 3vmin;
}

.controls div .square:hover {
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
}

#start-message {
    margin-top: 7vmin;
    font-size: 3vmin;
    animation: blink 1s infinite;
}
